.forecast-weather {
}

.pending, .error {
  text-align: center;
  margin: 1em 0;
}

.forecast-weather-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .25em .75em;
  font-size: 1.5em;
}

.forecast-weather-day:nth-child(2n+1) {
  background: rgba(255, 255, 255, .15);
}

.forecast-temperature, .forecast-day-description, .forecast-day-icon, .forecast-weekday {
  margin: 0 .25em;
}

.forecast-temperature {
  flex-shrink: 0;
  flex-basis: 15%;
}

.forecast-day-description {
  flex-grow: 1;
  font-size: .9em;
}

.forecast-day-icon {
  flex-basis: 15%;
  flex-grow: 0;
  /*background: pink;*/
}

.forecast-weekday {
  flex-basis: 15%;
  flex-shrink: 0;
}

.forecast-day-icon svg {
  height: 2em;
}

@media only screen and (min-width : 600px) {
  .forecast-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .forecast-weather-day {
    background: rgba(255, 255, 255, .01);
    flex-basis: 25%;
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .forecast-temperature, .forecast-day-description, .forecast-day-icon, .forecast-weekday {
    padding: 0 .25em;
  }

  .forecast-day-description {
    flex-grow: 1;
    font-size: 1em;
    margin: .25em 0;
  }

  .forecast-day-icon {    
    flex-basis: auto;
    text-align: center;
    margin: .25em 0;
  }

  .forecast-day-icon > svg {
    width: 50%;
    height: 100%;
  }

  .forecast-weekday {
    background: rgba(0, 0, 0, .125);
    margin: 0px;
    font-size: 1.25em;
    flex-basis: auto;
  }

  .forecast-temperature {
    display: flex;
    flex-basis: auto;
    margin: .25em 0;
  }
}

@media only screen and (min-width : 900px) {
  .forecast-weather-day {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width : 1200px) {
  .forecast-weather {
    padding: 1em;
  }

  .forecast-weather-day {
    flex-basis: 12.5%;
  }
}

@media only screen and (min-width : 1800px) {
  .forecast-weather-day {
    flex-basis: 12.5%;
  }
}