.forecast-weather {
}

.pending, .error {
  text-align: center;
  margin: 1em 0;
}

.forecast-weather-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .25em .75em;
  font-size: 1.5em;
}

.forecast-weather-day:nth-child(2n) {
  background: #f7faff;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ececec;
}

.night-bg .forecast-weather-day:nth-child(2n) {
  background: #000c23;
  border-color: #494949;
}

.forecast-temperature, .forecast-day-description, .forecast-day-icon, .forecast-weekday {
  margin: 0 .25em;
}

.forecast-temperature {
  flex-shrink: 0;
  flex-basis: 15%;
}

.forecast-day-description {
  flex-grow: 1;
  font-size: .9em;
  text-transform: capitalize;
}

.forecast-day-icon {
  flex-basis: 15%;
  flex-grow: 0;
  /*background: pink;*/
}

.forecast-weekday {
  flex-basis: 15%;
  flex-shrink: 0;
}

.forecast-day-icon svg {
  height: 2em;
}

@media only screen and (min-width : 600px) {
  .forecast-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .forecast-weather-day {
    background: rgba(255, 255, 255, .01);
    flex-basis: 25%;
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  .forecast-weather-day:nth-child(2n) {
    border-width: 0;
  }

  .forecast-temperature, .forecast-day-description, .forecast-day-icon, .forecast-weekday {
    padding: 0 .25em;
  }

  .forecast-temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .forecast-day-description {
    flex-grow: 1;
    font-size: 1em;
    margin: .25em 0;
    text-align: center;
  }

  .forecast-day-icon {    
    flex-basis: auto;
    text-align: center;
    margin: .25em 0;
  }

  .forecast-day-icon > svg {
    width: 50%;
    height: 100%;
  }

  .day-bg .forecast-weekday {
    background: rgb(14, 34, 68, .9);
    color: #ffffff;
  }

  .forecast-weekday {
    background: rgba(255, 255, 255, .8);
    color: #0e2244;
    margin: 0px;
    font-size: 1.25em;
    flex-basis: auto;
  }

  .forecast-temperature {
    display: flex;
    flex-basis: auto;
    margin: .25em 0;
  }
}

@media only screen and (min-width : 900px) {
  .forecast-weather-day {
    flex-basis: 33.33%;
  }
}

@media only screen and (min-width : 1200px) {
  .forecast-weather {
    padding: 1em 0;
  }

  .forecast-weather-day {
    flex-basis: 12.5%;
  }
}

@media only screen and (min-width : 1800px) {
  .forecast-weather-day {
    flex-basis: 12.5%;
  }
}